name: Build Executable

on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v3

    - name: Debug Environment Variables
      run: |
        echo "RUNNER_TOOL_CACHE: $RUNNER_TOOL_CACHE"
        echo "AGENT_TOOLSDIRECTORY: $AGENT_TOOLSDIRECTORY"

    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: '3.7.1'

    - name: Install dependencies
      run: pip install pyinstaller

    - name: Build Executable
      run: pyinstaller Elmer\Daniel_JSON_Files_Elmer\Main_Modulos_Intro_Pages.spec
